<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de Tarefas</title>
</head>
<body>
<main class="container">
    <h1>Minha Lista</h1>

    <div class="center-content" style="flex-direction: column; gap: 0.5em;">
        <p>Versão inicial da aplicação de lista de tarefas para a disciplina SPODWE2</p>
        <nav style="display: flex; gap: 1em;">
            <a href="/?filtro=todas"><button type="button">Todas as tarefas</button></a>
            <a href="/?filtro=concluidas"><button type="button">Concluídos</button></a>
            <a href="/?filtro=pendentes"><button type="button">Pendentes</button></a>
        </nav>

    </div>

    <form method="post" th:action="@{/add}">
        <input type="text" name="texto" placeholder="Adicione aqui sua nova tarefa" />
        <button type="submit">Adicionar</button>
    </form>

    <ul id="todo-list">
        <li th:each="tarefa, iterStat : ${tarefas}" th:switch="${tarefa.concluida()}">
            <div th:case="${true}" style="display: flex; justify-content: space-between; align-items: center;">
                <span th:text="${tarefa.texto}" style="text-decoration: line-through;"></span>
                <a th:href="@{|/concluir/${iterStat.index}|}">
                    <button type="button"> Desmarcar</button>
                </a>
            </div>
            <div th:case="${false}" style="display: flex; justify-content: space-between; align-items: center;">
                <span th:text="${tarefa.texto}"></span>
                <a th:href="@{|/concluir/${iterStat.index}|}">
                    <button type="button"> Marcar como concluído</button>
                </a>
            </div>
        </li>
    </ul>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLNKC9nD9aUcEMS3Nv1UUMiCnD-qphBAYujQ&s"
         alt="Texto alternativo da imagem" style="display: block; margin: 1em auto; max-width: 100%; height: auto;">
</main>
</body>
</html>
